.title{
    color: #333;
    font-size: 14px;
    margin: 0 0 10px;
}
.position{
    width: 38px;
    font-size: 22px;
    line-height: 26px;
    color: #333;
}
.qaDescription{
    width: 600px;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}
input[type='radio']{
    display: inline;
    width: 16px;
    height: 16px;
    margin: 5px;
}
h3{
    display: inline;
    margin-right: 5px;
}

li{
    margin: 10px 0;
    -webkit-transition: background 0.1s ease-in 0s;
    -moz-transition: background 0.1s ease-in 0s;
    -ms-transition: background 0.1s ease-in 0s;
    -o-transition: background 0.1s ease-in 0s;
    transition: background 0.1s ease-in 0s;
}
li:hover{
    cursor: pointer;
    background-color: #e8f7d2;
}