.m-learnChapterList{
    position: relative;
}
.u-learn-moduletitle {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.j-moduleName{
    float: left;
}
.m-learnChapterNormal {
    position: relative;
    margin-bottom: 10px;

}
span{
    font-size: 16px;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
    margin-bottom: 5px;
}

.t-mark{
    font-size: 16px;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
    margin-top: 10px;
}